@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  background: #090909;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
}

section#dashboard {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;

  @import "./nav/nav.scss";

  main#body {
    width: calc(100% - 25rem);
    height: 100%;
    position: relative;
    overflow-y: auto;
    background-image: linear-gradient(to bottom, #060606, #181818);

    &::-webkit-scrollbar {
      width: 0.3rem;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px #0000004d;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #93939e;
      outline: 1px solid slategrey;
    }

    @import "./top-bar/top-bar.scss";

    @import "./banner/banner.scss";

    #navgation-area {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 40rem;
      gap: 2rem;
      position: absolute;
      left: 0;
      top: 40rem;
      padding: 2rem;

      #left {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        #top-artists,
        #top-genres,
        #top-charts {
          background: #202026;
          padding: 2rem;
          display: flex;
          flex-direction: column;
          gap: 2rem;

          #header {
            display: flex;
            justify-content: space-between;

            p {
              color: #fff;
              font-size: 1.8rem;
              font-weight: 700;
            }

            button {
              color: #93939e;
              background: transparent;
              outline: none;
              border: none;
              cursor: pointer;
              font-size: 1.5rem;
            }
          }
        }

        #top-artists {
          #artists {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 2rem;

            .artist {
              display: flex;
              flex-direction: column;
              gap: 1rem;

              #img {
                width: 100%;
                display: flex;
                justify-content: space-around;
                cursor: pointer;
                overflow: hidden;
                border-radius: 1rem;

                &:hover {
                  img {
                    transform: scale(1.2);
                  }
                }

                img {
                  transition: 0.2s;
                  width: 100%;
                  height: 100%;
                  max-width: 10rem;
                  max-height: 10rem;
                  object-fit: cover;
                  border-radius: 1rem;
                }
              }

              #info {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                align-items: center;
                cursor: pointer;

                h4 {
                  color: #fff;
                  font-size: 1.5rem;
                  text-transform: capitalize;
                  font-weight: 500;
                  // text-align: center;
                }
                p {
                  font-size: 1.3rem;
                  color: #93939e;
                  font-weight: 500;
                }
              }
            }
          }
        }

        #foo {
          display: grid;
          grid-template-columns: 2fr 3fr;
          gap: 2rem;

          #top-genres {
            //
          }

          #top-charts {
            #charts-holder {
              ul {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                li {
                  list-style: none;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  gap: 1rem;
                  color: #fff;
                  font-size: 1.2rem;
                  cursor: pointer;

                  #thumbnail {
                    width: 4rem;
                    height: 4rem;

                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      border-radius: 1rem;
                    }
                  }

                  #song-info {
                    display: flex;
                    flex-direction: column;
                    text-transform: capitalize;
                    gap: 0.5rem;
                    width: 15rem;

                    #song {
                      color: #fff;
                      font-weight: 700;
                    }
                    #singer {
                      color: #93939e;
                      font-size: 1.1rem;
                    }
                  }

                  #play {
                    border: 0.1rem solid #5773ff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 0.5rem;
                  }

                  #add {
                    font-size: 1.4rem;
                  }
                }
              }
            }
          }
        }
      }

      #right {
        #player {
          padding: 2rem;
          background: #202026;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 3rem;
          width: 100%;

          #header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            span {
              color: #fff;
              font-size: 2rem;
            }

            #icon {
              font-size: 1.2rem;
            }
          }

          #song-info {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            #img {
              width: 20rem;
              height: 12rem;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1rem;
              }
            }

            #info {
              color: #fff;
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 0.5rem;

              #song {
                font-size: 2.2rem;
              }
              #artist {
                // color: #93939e;
                font-size: 1.2rem;
              }
            }
          }

          #timer {
            display: flex;
            gap: 2rem;
            width: 80%;

            .time {
              color: #fff;
            }

            #timeline {
              display: flex;
              align-items: center;
              width: 100%;

              #left-bar {
                width: 60%;
                height: 0.5rem;
                background: #fff;
              }

              #right-bar {
                width: 40%;
                height: 0.3rem;
                background: #93939e;
              }
            }
          }

          #controls {
            width: 80%;

            ul {
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 1rem;

              li {
                list-style: none;
                font-size: 1.5rem;
                color: #fff;
                cursor: pointer;
              }

              #play-btn {
                width: 4rem;
                height: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2.5rem;
                background: #5773ff;
                border-radius: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
