@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  background: #090909;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
}

section#dashboard {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
}
section#dashboard nav#main-nav {
  width: 25rem;
  height: 100%;
  background: #18181d;
  padding-left: 4rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  overflow-y: auto;
}
section#dashboard nav#main-nav::-webkit-scrollbar {
  width: 0.3rem;
}
section#dashboard nav#main-nav::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3019607843);
}
section#dashboard nav#main-nav::-webkit-scrollbar-thumb {
  background-color: #93939e;
  outline: 1px solid slategrey;
}
section#dashboard nav#main-nav #pulse {
  padding: 2rem 0;
}
section#dashboard nav#main-nav #pulse h1 {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}
section#dashboard nav#main-nav #pulse h1 span {
  color: #ffffff;
}
section#dashboard nav#main-nav .nav-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section#dashboard nav#main-nav .nav-section h2 {
  color: #93939e;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
section#dashboard nav#main-nav .nav-section ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section#dashboard nav#main-nav .nav-section ul .active {
  color: #5773ff;
}
section#dashboard nav#main-nav .nav-section ul li {
  list-style: none;
  color: #ffffff;
  display: flex;
  gap: 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
section#dashboard main#body {
  width: calc(100% - 25rem);
  height: 100%;
  background: #060606;
}
section#dashboard main#body #top-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section#dashboard main#body #top-bar .topics ul {
  display: flex;
  gap: 2rem;
}
section#dashboard main#body #top-bar .topics ul .active {
  color: #5773ff;
}
section#dashboard main#body #top-bar .topics ul li {
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: #93939e;
  cursor: pointer;
}
section#dashboard main#body #top-bar .search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #1d1d1d;
  border-radius: 1rem;
  padding: 1rem;
}
section#dashboard main#body #top-bar .search-bar #icon {
  color: #93939e;
}
section#dashboard main#body #top-bar .search-bar input {
  color: #93939e;
  border: 0;
  background: transparent;
  outline: none;
}
section#dashboard main#body #top-bar .user-area {
  display: flex;
  gap: 2rem;
  align-items: center;
}
section#dashboard main#body #top-bar .user-area .icon {
  color: #93939e;
  font-size: 1.3rem;
}
section#dashboard main#body #top-bar .user-area #user {
  display: flex;
  gap: 1rem;
  align-items: center;
  background: #25252d;
  padding: 0.7rem;
  border-radius: 0.5rem;
}
section#dashboard main#body #top-bar .user-area #user #img {
  width: 2.5rem;
  height: 2.5rem;
}
section#dashboard main#body #top-bar .user-area #user #img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.5rem;
}
section#dashboard main#body #top-bar .user-area #user #name {
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */