nav#main-nav {
  width: 25rem;
  height: 100%;
  background: #18181d;
  padding-left: 4rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.3rem;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #0000004d;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #93939e;
    outline: 1px solid slategrey;
  }

  #pulse {
    padding: 2rem 0;
    h1 {
      display: flex;
      gap: 2rem;
      font-size: 2rem;

      span {
        color: #ffffff;
      }
    }
  }

  .nav-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
      color: #93939e;
      font-size: 1.4rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .active {
        color: #5773ff;
      }

      li {
        list-style: none;
        color: #ffffff;
        display: flex;
        gap: 2rem;
        font-size: 1.4rem;
        cursor: pointer;
        font-weight: 500;
        text-transform: capitalize;
        letter-spacing: 0.1rem;
      }
    }
  }
}
